.navbar-container{
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.476);
    display: flex;
    justify-content: space-between;
    padding: 2rem 7rem;
    color: var(--font_color_1);
}

.navbar-container .brand-name{
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar-container .routes{
    display: flex;
    gap: 3rem;
}

.navbar-container .routes a{
    text-decoration: none;
    color: black;
}